{% extends "base.html" %}


{% block title %}Events{% endblock %}


{% block top %}
{% include "toolbar.html" :active "events" %}
{% endblock %}


{% block content %}

<div class="container-fluid p-3">

  {% if events %}
  <div class="list-group">
    {% for event in events %}

    {% ifequal event.name "Maratona Lisboa" %}
    <a href="#" class="link-success list-group-item list-group-item-action" data-bs-toggle="tooltip" title="Click to cancel">
      {% else %}
      <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="tooltip" title="Click to sign-up">
        {% endifequal %}

        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{event.name}}

            {% ifequal event.name "Maratona Lisboa" %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
              <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
              <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
            {% endifequal %}

          </h5>
          <small>30 euros</small>
        </div>
        <p class="mb-1">something</p>
        <small>{{event.location}}</small>
      </a>

      {% endfor %}
  </div>
  {% else %}
  No events available.
  {% endif %}

</div>

{% endblock %}
