<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">EMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        {% ifequal active "events" %}
        <a class="nav-link active" aria-current="page" href="events">Events</a>
        {% else %}
        <a class="nav-link" href="events">Events</a>
        {% endifequal %}

        {% ifequal active "users" %}
        <a class="nav-link active" aria-current="page" href="users">Users</a>
        {% else %}
        <a class="nav-link" href="users">Users</a>
        {% endifequal %}

        {% ifequal active "statistics" %}
        <a class="nav-link active" aria-current="page" href="statistics">Statistics</a>
        {% else %}
        <a class="nav-link" href="statistics">Statistics</a>
        {% endifequal %}

      </div>
    </div>
  </div>
</nav>
